<!DOCTYPE html>
<html lang="en">

  <!-- partial for head -->
  <%- include('../partials/_head/_head') %>
<body>
  <%- include('../partials/_mainNav/_navBar') %>
  
  <main class="main">
    <!-- <h5>Click Button </h5>
    <a class="nav__menu--links" href="/addpost">
      <i class="fas fa-plus-square"></i>
    </a> -->
    <div>
    <a class="btn btn-primary" href="/addpost" role="button">Add a New Post</a>
    </div>
    <div class="container">
      <% if (posts.length === 0 ) { %>
        <p>no posts yet</p>
      <% } %> 
      
      <% posts.forEach( post => { %>
        <article class="card">
          <!-- card header  -->
          <header class="card__header">

            <small>
              <a href="/users/<%= post.user._id %>"><%= post.user.username %></a> 
            </small>
          </header>

          <!-- card body -->
          <div class="card">
            <div class="card-body">
              <p><a href="<%= post.link%>"><%= post.link %></a></p>
              <p class="card-text"><%= post.text%></p>
              <!-- <a href="#" class="btn btn-primary">Button</a> -->
            </div>
          </div>
        

          <!-- card footer -->
          <section class="card__footer">
            
            <div class="card__footer__reactions">
              <div>
              <p><%= post.comments%></p>
              </div>
              <div class="card__footer__icons">
               <h6><a href="/posts/<%= post._id %>/editpost">Edit post</a></h6>
               
                <!--ONCE I FINISH COMMENTS SYSTEM I CAN CIRCLE BACK TO BELOW AND use as example for upvote system-->
                 <!-- <i class="fas fa-heart"></i>
                <i class="far fa-comment"></i>
                <i class="far fa-paper-plane"></i> -->
              </div>
            </div>
            
            
            <!-- <div class="card__footer__user--info">
              <p>in the future this will show updoots</p>
            </div>
            <div class="card__footer__user--info">
              <p><%= post.user.username %></p>
            </div> -->

            <section class="card__add__comment">
              <form id="comment-form" action="/newcomment">
                <div class="inline-fields">
                  <input class="add-comment" type="text" placeholder="Add Comment...">

                  <input id="submit-comment" class="submit" type="submit" value="post" >
                </div>
              </form>
            </section>

          </section>

        </article>
      <% }) %>
  
    </div>
     
  </main>

</body>
</html>